NODE_ENV=development

APP_NAME=condo
APP_PORT=3000

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456
MYSQL_DBNAME=condo
MYSQL_ENGINE=InnoDB
MYSQL_CHARSET=utf8

ACCESS_TOKEN_LIFE_TIME=2592000

LOG_PATH=/var/log/2359media/condo/error.log
