language: node_js
node_js:
- '7'
install:
- npm install --dev
cache:
  directories:
  - node_modules
deploy:
  provider: codedeploy
  access_key_id: AKIAID7R52A5ZJCSIUOQ
  secret_access_key:
    secure: mnsukQzy5Aj4oejb10H747oV+07xrceb8a0RSmuKVjpS4k3yZVZRXepQAJKVFjRTeTxDC7xLuuhsaUZx8ZrRwxY83f7XQ8XDfSQoG+5Evek/HQB7yMTg6kd7bSxTj3O7ASW106OljkgqOyeQ1qJcZ0PWv9839foU0Lj7EwfBhOXGQM3XJOkgTyAsFg+CFbE5epZilOhYvEVmRZCikFE9w79gecRAluo/p6QcEHvW9GPWkpAkvSgpmnDlPtSksOy3GMntq4bBVsSotHJomeaspc9vJ/WLf2uLqqL8UIRpsV1pd9rcNWLxr3d+deqZBq0Y4P5tKhpRYHUz6Pk1GkVMDQ+FHW7Fza/TdcKIuX1BR/d/jGh4eErnRKUWQJ4EJyCRafqS5uK1yiBFDOR65shdM0kBSGC8nVTiTWLCuADwl4JSzpVAvdQqcytTiTh5UbWcS+svaxOHOHrDTINTT/3kp8FXzyFz+ZMMIM73JIRntfs32OMLNKeodXOjNrabwcsQhYix5VnV0m5HreXai1Gdg3zZ0t7F4s8v98l0VxP3rhEqermQLKPjxJhY9Su3caRnAznkPIhyRaBZGkuakfckJfh1ZBJh/jYiAI959pssoUO4fU/uv6eLns/7J6w2h/N3gNjt7XMbXzQNt9ZK8epL4VKoZbe+GnwJYTjM4Vrxmcw=
  bucket: baonh-testcodedeploy
  key: api/$(date +'api-%F').zip
  bundle_type: zip
  region: us-west-2
  application: TestCodeDeployApplicationName
  deployment_group: TestCodeDeployDeploymentGroupName
  revision_type: github
  wait-until-deployed: true
  on:
    repo: kulltaa/test
    branch: master
